<p>Clientes works</p>
<!-- <form method="post" #frm="ngForm" (ngSubmit)="cadastroCliente(frm)" >
    <div class="row">
      <div class="col-md-6">
        <label for="nome" class="col-md-3">Nome: </label>
        <div class="col-md-9">
          <input [(ngModel)]="cliente.nome" type="text" name="nome" id="nome" required class="form-control" placeholder="Nome">
        </div>
      </div>
      <div class="col-md-6">
        <label for="nome" class="col-md-3">Email: </label>
        <div class="col-md-9">
          <input [(ngModel)]="cliente.email" type="email" name="email" id="email" required email class="form-control" placeholder="Email">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button [disabled]="frm.invalid" class="btn btn-primary" type="submit">Enviar</button>
      </div>
    </div>
  </form>

<table class="table">
  <thead>
    <th scope="col">Nome </th>
    <th scope="col">Email </th>
  </thead>
  <tbody>
     <td *ngFor="let item of clientes" >
      {{item}}
    </td> -->
    <!-- <p *ngIf="clientes.length < 1" >Nenhum cliente encontrado</p> -->
  <!-- </tbody> -->
<!-- </table> -->
